*.ko
*.mod.c
*.o
*.swp
*.tar.xz
.*.ko.cmd
.*.mod.o.cmd
.*.o.cmd
.tmp_versions
Linux_for_Tegra/
Module.symvers
build/
l4t-gcc-*-*-*-toolchain-64-bit.tar.xz
modules.order
public_sources.tbz2
rootfs/
tags
tegra186_linux_r*.5.1_aarch64.tbz2
toolchain/
